body{
	text-align: center;
	line-height: 32px;
	color:#333;
}

header {
	padding:20px;
	background-color: #ccc;

}

section {
	float: left;
}

#left{
	width: 33.3%;
	background-color: #666;
}
#middle{
	width: 33.3%;
	background-color: #888;
}
#right {
	width: 33.3%;
	background-color:#666;
}

#full {
	clear: both;
	width: 100%;
	overflow: auto;
	background-color: #eee
}

aside {
	width: 33%;
	margin-left: 30px;
	padding: 20px;
	height: 200px;
	border:1px solid #eee;
	float: left;
	background-color: #fff
}

div	{
	background-color: #6ea3da;
	padding:20px;
	margin-top: 20px;

}
footer {
	clear: both;
	background-color: #ccc;
	padding: 20px;

}	